@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}

.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  /* //box-shadow: 0 0 1em .5em #a3c2;
  //filter: drop-shadow(0 0 .5em white); */
  text-shadow: 0 0 .8em #fff5;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  background-image:
    radial-gradient(circle at 50% 50%,
      #2f3040,
      #1f2020);
}

.Icon {
  height: 50px;
  width: auto;
  border-radius: 5px;
}

#Icon1 {
  list-style-type: none;
}

/* About Me */
/* About Me */
@property --scroll-y-position {
  syntax: "<percentage>";
  initial-value: -10%;
  inherits: false;
}

@property --reflection-y-position {
  syntax: "<percentage>";
  initial-value: -50%;
  inherits: false;
}

@property --scrollbar-color {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --opacity-1 {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.1;
}

@property --opacity-2 {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.1;
}

@property --opacity-3 {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.1;
}

@property --opacity-4 {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.1;
}

@property --text-offset-1 {
  syntax: "<number>";
  inherits: false;
  initial-value: 10;
}

@property --text-offset-2 {
  syntax: "<number>";
  inherits: false;
  initial-value: 10;
}

@property --text-offset-3 {
  syntax: "<number>";
  inherits: false;
  initial-value: 10;
}

@property --text-offset-4 {
  syntax: "<number>";
  inherits: false;
  initial-value: 10;
}

html::-webkit-scrollbar {
  display: none;
}

#AboutMe .scrollbar {
  width: 4px;
  height: 100%;
  background-color: var(--scrollbar-color);
  background-image: radial-gradient(circle at 0% var(--scroll-y-position),
      rgb(112, 153, 255) 0%,
      rgba(56, 106, 249, 0.79135) 10px,
      rgba(10, 76, 242, 0.53) 20px,
      rgba(255, 255, 255, 0) 40px,
      rgba(49, 49, 49, 0) 100%);
  animation: on-scrolling 2s both linear; /* Adjust duration here */
  animation-timeline: scroll();
  animation-range: 10vh;
}

#AboutMe .container {
  width: 360px;
  height: 100%;
  background: linear-gradient(132deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(238, 238, 238, 0.03) 20%,
      rgba(202, 202, 202, 0.04) 70%,
      rgba(171, 171, 171, 0.02) 100%);
  border: solid rgba(255, 255, 255, 0.06) 1px;
  margin-left: 15px;
  position: relative;
}

#AboutMe .container::before,
#AboutMe .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(10, 76, 242, 0) 0%,
      rgba(10, 76, 242, 0.75203) 38.288288288288285%,
      rgb(77, 127, 255) 50.9132179054054%,
      rgba(10, 76, 242, 0.75248) 63.06306306306306%,
      rgba(10, 76, 242, 0) 100%);
  background-repeat: no-repeat;
  background-position-y: var(--reflection-y-position);
  animation: on-scrolling 2s both linear; /* Adjust duration here */
  animation-timeline: scroll();
  animation-range: 10vh;
}

#AboutMe .container::before {
  background-size: 1px 150px;
  filter: blur(1px);
}

#AboutMe .container::after {
  background-size: 10px 150px;
  filter: blur(10px);
}

#AboutMe .About {
  padding-top: 20px;
  width: 105%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 500px;
  font-family: sans-serif;
}

#AboutMe p {
  background-image: linear-gradient(270deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.9) 90%,
      rgb(191, 209, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding: 20px;
  line-height: 1.5em;
  --opacity-1: 0.1;
  --opacity-2: 0.1;
  --opacity-3: 0.1;
  --opacity-4: 0.1;
  --text-offset-1: 10;
  --text-offset-2: 10;
  --text-offset-3: 10;
  --text-offset-4: 10;
  animation: on-scrolling 2s both linear; /* Adjust duration here */
  animation-timeline: scroll();
  animation-range: 10vh;
}

#AboutMe p:nth-child(1) {
  opacity: var(--opacity-1);
  transform: translateY(calc(var(--text-offset-1) * 1px));
}

#AboutMe p:nth-child(2) {
  opacity: var(--opacity-2);
  transform: translateY(calc(var(--text-offset-2) * 1px));
}

#AboutMe p:nth-child(3) {
  opacity: var(--opacity-3);
  transform: translateY(calc(var(--text-offset-3) * 1px));
}

#AboutMe p:nth-child(4) {
  opacity: var(--opacity-4);
  transform: translateY(calc(var(--text-offset-4) * 1px));
}

@keyframes on-scrolling {  
  0% {
    --scroll-y-position: -10%;
    --reflection-y-position: -22%;
  }

  1% {
    --scrollbar-color: rgba(255, 255, 255, 0.1);
  }

  10% {
    --opacity-1: 1;
    --opacity-2: 0.1;
    --opacity-3: 0.1;
    --opacity-4: 0.1;

    --text-offset-1: 0;
    --text-offset-2: 10;
    --text-offset-3: 10;
    --text-offset-4: 10;
  }

  20% {
    --scroll-y-position: 50%;
    --reflection-y-position: 50%;
    --opacity-1: 0.1;
    --opacity-2: 1;
    --opacity-3: 0.1;
    --opacity-4: 0.1;

    --text-offset-1: 10;
    --text-offset-2: 0;
    --text-offset-3: 10;
    --text-offset-4: 10;
  }

  30% {
    --opacity-1: 0.1;
    --opacity-2: 0.1;
    --opacity-3: 1;
    --opacity-4: 0.1;

    --text-offset-1: 10;
    --text-offset-2: 10;
    --text-offset-3: 0;
    --text-offset-4: 10;
  }

  40% {
    --opacity-1: 0.1;
    --opacity-2: 0.1;
    --opacity-3: 0.1;
    --opacity-4: 1;

    --text-offset-1: 10;
    --text-offset-2: 10;
    --text-offset-3: 10;
    --text-offset-4: 0;
  }

  50% {
    --text-offset-1: 10;
    --text-offset-2: 10;
    --text-offset-3: 10;
    --text-offset-4: 10;
    --opacity-1: 0.1;
    --opacity-2: 0.1;
    --opacity-3: 0.1;
    --opacity-4: 0.1;
    --scroll-y-position: 105%;
    --reflection-y-position: 115%;
    --scrollbar-color: rgba(255, 255, 255, 0.1);
  }
}

/* Abhinav */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #efefef;
  --clr-primary: #0f172a;
  --easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  --ani-speed: 300ms;
}

/* Reset button */
button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}

header {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: inherit;
  /* Use the same color as the parent element */
  text-decoration: none;
  /* Remove underline */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #ff0;
  transition: color 300ms ease-in-out;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ff0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-links a:hover::before,
.nav-links a:focus::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-button {
  opacity: 0;
  transform: translateX(-500px);
  animation: slide-in var(--ani-speed) ease-out forwards;
  animation-delay: calc(var(--order, 0) * var(--ani-speed));
}
.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
}
.AH1{
  left: 50%;
}
.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  color: #000;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.intro-text {
  max-width: 600px;
  margin-right: 2rem;
  font-weight: 200;
  color: #fff;
  opacity: 1;
}

.intro-photo img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.buttons {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  background-color: #00000050;
  border: 1px solid #ffffff30;
  padding: 2rem;
  backdrop-filter: blur(12px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  position: relative;
}

.buttons::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #00000020;
  z-index: -1;
  border-radius: inherit;
  transition: inset 500ms ease-in-out;
}

.buttons:hover::before {
  inset: -2rem;
  transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.buttons button {
  background-color: #00000050;
  border: 1px solid #ffffff30;
  padding: 1rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms ease-in-out;
  position: relative;
  isolation: isolate;
  color: #ffffff90;
}

.buttons button svg {
  width: 1.8rem;
}

.buttons button p {
  position: absolute;
  width: 100%;
  font-size: 0.8rem;
  opacity: 0;
  left: 0;
  bottom: 0.5rem;
  padding: 0.3rem;
  text-align: center;
  transition: all 150ms ease-in-out 0ms;
  outline: none;
  transform: translateY(10px);
}

.buttons button:hover p {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out 150ms;
}

.buttons button:focus-visible,
.buttons button:hover {
  transform: scale(1.15);
  z-index: 10;
  color: #fff;
  background-color: rgba(var(--bg), 0.5);
}

.buttons:has(button:focus-visible) button:not(:focus-visible),
.buttons:has(button:hover) button:not(:hover) {
  opacity: 50%;
  transform: scale(0.85);
  z-index: -10;
}

@media (prefers-reduced-motion: no-preference) {
  [slide-in-left] {
    opacity: 0;
    transform: translateX(-500px);
    animation: slide-in var(--ani-speed) ease-out forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }

  [slide-in-right] {
    opacity: 0;
    transform: translateX(500px);
    animation: slide-in var(--ani-speed) ease-out forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }

  [slide-in-top] {
    opacity: 0;
    transform: translateY(-500px);
    animation: slide-in var(--ani-speed) ease-out forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }

  [slide-in-bottom] {
    opacity: 0;
    transform: translateY(500px);
    animation: slide-in var(--ani-speed) ease-out forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }

  [scale-up] {
    transform: scale(0);
    animation: scale-up var(--ani-speed) forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }

  [scale-from-top] {
    transform-origin: top;
    transform: scaleY(0);
    animation: scale-up var(--ani-speed) forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

/* Project section */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700&display=swap");

:root {
  --width: 220px;
  --gap: 1rem;
  --speed: 500ms;
}

.Main2 {
  height: 90vh;
  background: #202227;
}

.slider {
  position: relative;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  width: var(--width);
  height: calc(var(--width) * 1.5);
  position: absolute;
  z-index: 1;
  border-radius: 0.25rem;
  box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 1);
  transition: left var(--speed), width var(--speed), height var(--speed);
  transform-origin: center;
  overflow: hidden;
  will-change: transform, opacity;

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
    box-shadow: 0px 0px 50px 25px rgba(0, 0, 0, 0.25) inset;
    transition: box-shadow var(--speed);
    will-change: transform, opacity;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
    filter: blur(0);

    &::after {
      box-shadow: 0px -50px 150px 50px rgba(0, 0, 0, 0.75) inset;
    }
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: calc(50% + var(--width) + var(--gap));

    transition-delay: calc(var(--speed) * 0.2);
  }

  &:nth-child(5) {
    left: calc(50% + calc(var(--width) * 2) + calc(var(--gap) * 2));

    transition-delay: calc(var(--speed) * 0.4);
  }

  &:nth-child(6) {
    left: calc(50% + calc(var(--width) * 3) + calc(var(--gap) * 3));
    opacity: 0;
    transition-delay: calc(var(--speed) * 0.6);
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  left: 3rem;
  z-index: 1;
  transform: translateY(25%);
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: none;
  flex-direction: column;
  gap: 1rem;
  outline: 0;

  & * {
    outline: 0;
  }

  & .title {
    font-weight: 600;
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    opacity: 1;
  }

  & button {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: background var(--speed), color var(--speed);

    &:hover {
      background-color: rgba(0, 0, 0, 0.9);
      color: rgba(255, 255, 255, 0.9);
    }
  }
}

.item:nth-of-type(2) .content {
  display: flex;
  animation: show var(--speed) ease-in-out calc(var(--speed) / 2) forwards;
}

@keyframes show {
  0% {
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
.nav {
  display: flex;
  gap: 0.5rem;
  bottom: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;
  border-radius: 100vw;
  padding: 0.25rem;
  align-items: center;
  justify-content: center; /* Centering the buttons */
}

.nav .btn {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.9);
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background var(--speed), color var(--speed);
}

.nav .btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }

    & .description {
      font-size: 0.7rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: calc(50% + 170px);
    }

    &:nth-child(5) {
      left: calc(50% + 340px);
    }

    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }

    & .description {
      font-size: 0.65rem;
    }

    & button {
      font-size: 0.7rem;
    }
  }

  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }

    &:nth-child(4) {
      left: calc(50% + 140px);
    }

    &:nth-child(5) {
      left: calc(50% + 280px);
    }

    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}
/* Contact Info */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #efefef;
  --clr-primary: #0f172a;
  --easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  --ani-speed: 300ms;
}

/* Reset button */
input,
button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}

#ContactInfo {
  margin-top: 50px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1; /* Ensure body is below other elements */
}

.container2 {
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px; /* Increase padding for a rectangular shape */
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #4f505a;
    text-align: center;
    max-width: 900px; /* Adjust max-width as needed */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    transition: box-shadow 0.3s; /* Add transition for smooth effect */
}

.container2:hover {
    box-shadow: 0 0 20px 0 rgba(88, 199, 250, 0.7); /* Adjust shadow color and size as needed */
}

h1 {
    color: #fff; /* Change color to white */
    margin-bottom: 20px; /* Add margin to create space between Contact and other content */
}

.container2 p.tagline {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
    opacity: 1;
}
.container2 p{
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  opacity: 1;
}
.resume-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Reduced padding */
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0; /* Positioned at the left */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  opacity: 1;
  margin-bottom: 0px;
}
.footer-left {
  flex: 1;
  text-align: left; /* Align left */
  padding-left: 20px; /* Add left padding */
}

.footer-right {
  flex: 1;
  text-align: right; /* Align right */
  padding-right: 20px; /* Add right padding */
}

.social-icon {
  font-size: 28px; /* Reduced icon size */
  color: #fff;
  margin-left: 20px;
}