@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden; /* Prevent scrolling */
}

:root {
  --clr-bg: #efefef;
  --clr-primary: #0f172a;
  --easing: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  --ani-speed: 300ms;
}

/* Reset button */
input,
button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
  overflow: visible;
}

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
  color: red;
}

.star:before {
  position: absolute;
  content: '\2726';
  color: inherit;
  inset: 0;
  text-shadow: 0 0 .8em #fff5;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #F9F6EF;
  display: grid;
  place-content: center;
  background-image: radial-gradient(circle at 50% 50%, #2f3040, #1f2020);
}
.star {
    transform-style: preserve-3d;
    width: 1px;
    height: 1px;
    position: absolute;
    color: red;
  }
  
  .star:before {
    position: absolute;
    content: '\2726';
    color: inherit;
    inset: 0;
    text-shadow: 0 0 .8em #fff5;
  }
  
  header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: inherit; /* Use the same color as the parent element */
    text-decoration: none; /* Remove underline */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    color: #ff0;
    transition: color 300ms ease-in-out;
  }
  
  .nav-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ff0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  .nav-links a:hover::before,
  .nav-links a:focus::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .nav-button {
    opacity: 0;
    transform: translateX(-500px);
    animation: slide-in var(--ani-speed) ease-out forwards;
    animation-delay: calc(var(--order, 0) * var(--ani-speed));
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
  }
  
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #fff; */
    color: #000;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .intro-text {
    max-width: 600px;
    margin-right: 2rem;
    color: #fff;
  }
  
  .intro-photo img {
    width: auto;
    height: auto;
    border-radius: 10px;
  }
  
  .buttons {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    background-color: #00000050;
    border: 1px solid #ffffff30;
    padding: 2rem;
    backdrop-filter: blur(12px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    justify-content: center;
    gap: 1.5rem;
    position: relative;
  }
  
  .buttons::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000020;
    z-index: -1;
    border-radius: inherit;
    transition: inset 500ms ease-in-out;
  }
  
  .buttons:hover::before {
    inset: -2rem;
    transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }
  
  .buttons button {
    background-color: #00000050;
    border: 1px solid #ffffff30;
    padding: 1rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: 300ms ease-in-out;
    position: relative;
    isolation: isolate;
    color: #ffffff90;
  }
  
  .buttons button svg {
    width: 1.8rem;
  }
  
  .buttons button p {
    position: absolute;
    width: 100%;
    font-size: 0.8rem;
    opacity: 0;
    left: 0;
    bottom: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    transition: all 150ms ease-in-out 0ms;
    outline: none;
    transform: translateY(10px);
  }
  
  .buttons button:hover p {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out 150ms;
  }
  
  .buttons button:focus-visible,
  .buttons button:hover {
    transform: scale(1.15);
    z-index: 10;
    color: #fff;
    background-color: rgba(var(--bg), 0.5);
  }
  
  .buttons:has(button:focus-visible) button:not(:focus-visible),
  .buttons:has(button:hover) button:not(:hover) {
    opacity: 50%;
    transform: scale(0.85);
    z-index: -10;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    [slide-in-left] {
      opacity: 0;
      transform: translateX(-500px);
      animation: slide-in var(--ani-speed) ease-out forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  
    [slide-in-right] {
      opacity: 0;
      transform: translateX(500px);
      animation: slide-in var(--ani-speed) ease-out forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  
    [slide-in-top] {
      opacity: 0;
      transform: translateY(-500px);
      animation: slide-in var(--ani-speed) ease-out forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  
    [slide-in-bottom] {
      opacity: 0;
      transform: translateY(500px);
      animation: slide-in var(--ani-speed) ease-out forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  
    [scale-up] {
      transform: scale(0);
      animation: scale-up var(--ani-speed) forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  
    [scale-from-top] {
      transform-origin: top;
      transform: scaleY(0);
      animation: scale-up var(--ani-speed) forwards;
      animation-delay: calc(var(--order, 0) * var(--ani-speed));
    }
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes scale-up {
    0% {
      transform: scale(0);
    }
    60% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  /* General styles for hamburger menu */
  /* General styles for hamburger menu */
.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #000; /* Adjust color for better visibility */
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Mobile devices (portrait) */
@media (max-width: 600px) {
.hamburger {
    display: flex; /* Show on small screens */
}

.bar {
    height: 4px;
    background-color: #fff; /* White color for better visibility on dark backgrounds */
}

.nav-links {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 63px;
  left: 191px;
  width: 51%;
  height: 39%; /* Full height */
  background-color: rgba(0, 0, 0, 0.442); /* Dark background */
  z-index: 10;
  transition: all 0.5s ease;
}

.nav-links.active {
    display: flex; /* Show the menu when active */
}

.nav-links a {
    color: #fff; /* White text color */
    padding: 15px;
    text-align: center;
    width: 100%;
    top: 30px;
}

}

/* Tablets (portrait) */
@media (min-width: 601px) and (max-width: 768px) {
.hamburger {
    display: flex; /* Show on tablets */
}

.bar {
    height: 4px;
    background-color: #fff; /* White color for better visibility on dark backgrounds */
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 63px;
    left: 191px;
    width: 51%;
    height: 39%; /* Full height */
    background-color: rgba(0, 0, 0, 0.442); /* Dark background */
    z-index: 10;
    transition: all 0.5s ease;
}

.nav-links.active {
    display: flex; /* Show the menu when active */
}

.nav-links a {
    color: #fff; /* White text color */
    padding: 15px;
    text-align: center;
    width: 100%;
    top: 30px;
}
}


/* Tablets and small desktops (landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    overflow: auto; /* Allow scrolling */
  }

  .container {
    padding: 35px;
    max-width: 70%;
  }

  h1 {
    font-size: 2em; /* Adjust heading size */
    margin-bottom: 20px;
  }

  p.tagline, p {
    font-size: 1.15em; /* Adjust font size */
    margin-bottom: 20px;
  }

  .resume-button {
    padding: 10px 20px;
    font-size: 1em; /* Adjust button size */
  }

  footer {
    padding: 10px 20px; /* Adjust padding */
  }

  .footer-left, .footer-right {
    padding: 10px 20px; /* Adjust padding */
  }

  .social-icon {
    margin-left: 8px; /* Adjust margin */
  }

  header {
    padding: 1rem 0;
  }

  .nav-links a {
    font-size: 1.1rem;
  }

  main {
    padding-top: 80px; /* Adjust for fixed header */
  }

  .introduction {
    flex-direction: row;
    align-items: center;
    padding: 2rem;
  }

  .intro-text {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .buttons {
    padding: 2rem;
  }

  .buttons button {
    padding: 1rem;
  }

  .buttons button svg {
    width: 1.8rem;
  }

  .buttons button p {
    font-size: 0.8rem;
  }
}

/* Larger desktops */
@media (min-width: 1025px) {
  body {
    overflow: hidden; /* Prevent scrolling */
  }

  .container {
    padding: 40px;
    max-width: 60%;
  }

  h1 {
    font-size: 2.25em; /* Adjust heading size */
    margin-bottom: 25px;
  }

  p.tagline, p {
    font-size: 1.2em; /* Adjust font size */
    margin-bottom: 25px;
  }

  .resume-button {
    padding: 12px 24px;
    font-size: 1.1em; /* Adjust button size */
  }

  footer {
    padding: 10px 20px; /* Adjust padding */
  }

  .footer-left, .footer-right {
    padding: 5px 20px; /* Adjust padding */
  }

  .social-icon {
    margin-left: 10px; /* Adjust margin */
  }

  header {
    padding: 1.25rem 0;
  }

  .nav-links {
    gap: 1.25rem;
  }

  .nav-links a {
    font-size: 1.2rem;
  }

  main {
    padding-top: 90px; /* Adjust for fixed header */
  }

  .introduction {
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
  }

  .intro-text {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .buttons {
    padding: 2.5rem;
  }

  .buttons button {
    padding: 1.25rem;
  }

  .buttons button svg {
    width: 2rem;
  }

  .buttons button p {
    font-size: 0.85rem;
  }
}
